<!DOCTYPE HTML>
<html>
<head>
    <title>Поиск вакансий</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h4>Приложение для запроса вакансий с сайта HH.ru</h4>

    <form action="/vacancies" method="get">
        <label>Выберете специализацию:</label>
        <p><select name="specialization">
            <option value="1">Информационные технологии, интернет, телеком</option>
            <option value="20">Строительство, недвижимость</option>
            <option value="5.42">Бухгалтер</option>
            <option value="15.146">Медицина, Фармацевтика</option>
            <option value="15.363">Юристы</option>
            <option value="9.168">Наука, Образование</option>
        </select></p>
        <br/>

        <label>Выберете город:</label>
        <p><select name="nameCity">
            <option value="4">Новосибирск</option>
            <option value="2">Санкт-Петербург</option>
            <option value="1">Москва</option>
            <option value="3">Екатеринбург</option>
            <option value="14">Архангельск</option>
            <option value="22">Владивосток</option>
            <option value="35">Иркутск</option>
        </select></p>
        <br/>

        <p><input type="submit" value="Применить"></p>
    </form>
</body>
</html>